USE [master]
GO
/****** Objeto: Database [UamLabHelpDeskDb] Fecha de script: 7/7/2026 5:10:03 PM ******/
CREATE DATABASE [UamLabHelpDeskDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UamLabHelpDeskDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\UamLabHelpDeskDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UamLabHelpDeskDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\UamLabHelpDeskDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UamLabHelpDeskDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UamLabHelpDeskDb]
GO
/****** Objeto: Table [dbo].[__EFMigrationsHistory] Fecha de script: 7/7/2026 5:10:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Equipment] Fecha de script: 7/7/2026 5:10:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LaboratoryId] [int] NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Brand] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[SerialNumber] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](30) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[PurchaseDate] [date] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Equipment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[FaultReports] Fecha de script: 7/7/2026 5:10:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaultReports](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EquipmentId] [int] NOT NULL,
	[ReportedByUserId] [int] NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ReportedAtUtc] [datetime2](7) NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_FaultReports] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Laboratories] Fecha de script: 7/7/2026 5:10:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Laboratories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Building] [nvarchar](50) NOT NULL,
	[Floor] [int] NOT NULL,
	[Capacity] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Laboratories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[OtpCodes] Fecha de script: 7/7/2026 5:10:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OtpCodes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Code] [nvarchar](10) NOT NULL,
	[SessionToken] [nvarchar](100) NOT NULL,
	[ExpiresAtUtc] [datetime2](7) NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_OtpCodes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PasswordResetRequests] Fecha de script: 7/7/2026 5:10:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[SessionToken] [nvarchar](100) NOT NULL,
	[Code] [nvarchar](10) NOT NULL,
	[ExpiresAtUtc] [datetime2](7) NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[UsedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_PasswordResetRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RefreshTokens] Fecha de script: 7/7/2026 5:10:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Token] [nvarchar](500) NOT NULL,
	[ExpiresAtUtc] [datetime2](7) NOT NULL,
	[IsRevoked] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[RevokedAtUtc] [datetime2](7) NULL,
	[RevokedReason] [nvarchar](200) NULL,
 CONSTRAINT [PK_RefreshTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Roles] Fecha de script: 7/7/2026 5:10:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Users] Fecha de script: 7/7/2026 5:10:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260610025608_InitialCreate', N'10.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260613003911_AddRefreshTokenEntity', N'10.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260619014200_AddOtpCodeTable', N'10.0.9')
GO
SET IDENTITY_INSERT [dbo].[Equipment] ON 

INSERT [dbo].[Equipment] ([Id], [LaboratoryId], [Code], [Brand], [Model], [SerialNumber], [Type], [Status], [PurchaseDate], [IsActive], [CreatedAtUtc], [UpdatedAtUtc]) VALUES (1, 1, N'PC001', N'Dell', N'Optiplex 7010', N'SN1001', N'Desktop', N'Operational', CAST(N'2023-01-10' AS Date), 1, CAST(N'2026-07-05T20:07:33.1166667' AS DateTime2), CAST(N'2026-07-07T04:22:19.4036711' AS DateTime2))
INSERT [dbo].[Equipment] ([Id], [LaboratoryId], [Code], [Brand], [Model], [SerialNumber], [Type], [Status], [PurchaseDate], [IsActive], [CreatedAtUtc], [UpdatedAtUtc]) VALUES (2, 2, N'PC002', N'HP', N'EliteDesk', N'SN1002', N'Desktop', N'Operational', CAST(N'2023-02-15' AS Date), 0, CAST(N'2026-07-05T20:07:33.1166667' AS DateTime2), CAST(N'2026-07-07T03:54:54.4266089' AS DateTime2))
INSERT [dbo].[Equipment] ([Id], [LaboratoryId], [Code], [Brand], [Model], [SerialNumber], [Type], [Status], [PurchaseDate], [IsActive], [CreatedAtUtc], [UpdatedAtUtc]) VALUES (3, 3, N'LT001', N'Lenovo', N'ThinkPad E14', N'SN1003', N'Laptop', N'Operational', CAST(N'2022-08-01' AS Date), 1, CAST(N'2026-07-05T20:07:33.1166667' AS DateTime2), CAST(N'2026-07-07T04:22:31.1873352' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Equipment] OFF
GO
SET IDENTITY_INSERT [dbo].[FaultReports] ON 

INSERT [dbo].[FaultReports] ([Id], [EquipmentId], [ReportedByUserId], [Title], [Description], [Priority], [Status], [ReportedAtUtc], [CreatedAtUtc], [UpdatedAtUtc]) VALUES (12, 5, 3, N'sss', N'aaa', N'Medium', N'Closed', CAST(N'2026-07-07T04:19:56.2267411' AS DateTime2), CAST(N'2026-07-07T04:19:56.2267411' AS DateTime2), CAST(N'2026-07-07T21:59:26.7338670' AS DateTime2))
SET IDENTITY_INSERT [dbo].[FaultReports] OFF
GO
SET IDENTITY_INSERT [dbo].[Laboratories] ON 

INSERT [dbo].[Laboratories] ([Id], [Name], [Building], [Floor], [Capacity], [IsActive], [CreatedAtUtc], [UpdatedAtUtc]) VALUES (1, N'Lab A', N'Edificio A', 1, 25, 1, CAST(N'2026-07-05T20:07:00.1833333' AS DateTime2), CAST(N'2026-07-05T20:07:00.1833333' AS DateTime2))
INSERT [dbo].[Laboratories] ([Id], [Name], [Building], [Floor], [Capacity], [IsActive], [CreatedAtUtc], [UpdatedAtUtc]) VALUES (2, N'Lab B', N'Edificio A', 2, 30, 1, CAST(N'2026-07-05T20:07:00.1833333' AS DateTime2), CAST(N'2026-07-05T20:07:00.1833333' AS DateTime2))
INSERT [dbo].[Laboratories] ([Id], [Name], [Building], [Floor], [Capacity], [IsActive], [CreatedAtUtc], [UpdatedAtUtc]) VALUES (3, N'Lab C', N'Edificio B', 1, 20, 1, CAST(N'2026-07-05T20:07:00.1833333' AS DateTime2), CAST(N'2026-07-05T20:07:00.1833333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Laboratories] OFF
GO
SET IDENTITY_INSERT [dbo].[OtpCodes] ON 

INSERT [dbo].[OtpCodes] ([Id], [UserId], [Code], [SessionToken], [ExpiresAtUtc], [IsUsed], [CreatedAtUtc]) VALUES (1, 2, N'370551', N'79b3092c-886b-44a2-a619-1bf09ba1ed51', CAST(N'2026-07-04T02:52:38.8238859' AS DateTime2), 1, CAST(N'2026-07-04T02:42:38.8242741' AS DateTime2))
INSERT [dbo].[OtpCodes] ([Id], [UserId], [Code], [SessionToken], [ExpiresAtUtc], [IsUsed], [CreatedAtUtc]) VALUES (2, 2, N'182166', N'abaf71a5-648c-44cb-aac7-e59b2260adf9', CAST(N'2026-07-05T20:28:49.3598113' AS DateTime2), 1, CAST(N'2026-07-05T20:18:49.3604258' AS DateTime2))
INSERT [dbo].[OtpCodes] ([Id], [UserId], [Code], [SessionToken], [ExpiresAtUtc], [IsUsed], [CreatedAtUtc]) VALUES (3, 1, N'179883', N'e068d7ca-4347-470b-a388-4cce4d115c6b', CAST(N'2026-07-05T20:37:46.9161210' AS DateTime2), 0, CAST(N'2026-07-05T20:27:46.9163409' AS DateTime2))
SET IDENTITY_INSERT [dbo].[OtpCodes] OFF
GO
SET IDENTITY_INSERT [dbo].[PasswordResetRequests] ON 

INSERT [dbo].[PasswordResetRequests] ([Id], [UserId], [SessionToken], [Code], [ExpiresAtUtc], [IsUsed], [CreatedAtUtc], [UsedAtUtc]) VALUES (1, 2, N'e5bf17b2-b0fe-4a4e-a937-e2997f720b5f', N'126480', CAST(N'2026-07-04T02:51:09.9999197' AS DateTime2), 1, CAST(N'2026-07-04T02:41:10.0001808' AS DateTime2), CAST(N'2026-07-04T02:42:04.7590028' AS DateTime2))
INSERT [dbo].[PasswordResetRequests] ([Id], [UserId], [SessionToken], [Code], [ExpiresAtUtc], [IsUsed], [CreatedAtUtc], [UsedAtUtc]) VALUES (2, 2, N'1250b48d-1598-42e9-ae0e-e5357d042c83', N'423284', CAST(N'2026-07-05T20:26:49.3051886' AS DateTime2), 1, CAST(N'2026-07-05T20:16:49.3055579' AS DateTime2), CAST(N'2026-07-05T20:18:04.7527047' AS DateTime2))
INSERT [dbo].[PasswordResetRequests] ([Id], [UserId], [SessionToken], [Code], [ExpiresAtUtc], [IsUsed], [CreatedAtUtc], [UsedAtUtc]) VALUES (3, 3, N'5534b15d-9609-4cd4-bd55-818a67de688d', N'632739', CAST(N'2026-07-06T22:52:03.9145407' AS DateTime2), 1, CAST(N'2026-07-06T22:42:03.9149664' AS DateTime2), CAST(N'2026-07-06T22:42:47.2948194' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PasswordResetRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[RefreshTokens] ON 

INSERT [dbo].[RefreshTokens] ([Id], [UserId], [Token], [ExpiresAtUtc], [IsRevoked], [CreatedAtUtc], [RevokedAtUtc], [RevokedReason]) VALUES (1, 2, N'4cecb903fc024394aa024f55b07c8aa7', CAST(N'2026-07-11T02:43:06.2056036' AS DateTime2), 1, CAST(N'2026-07-04T02:43:06.2069117' AS DateTime2), CAST(N'2026-07-05T20:18:04.8248696' AS DateTime2), N'Password reset')
INSERT [dbo].[RefreshTokens] ([Id], [UserId], [Token], [ExpiresAtUtc], [IsRevoked], [CreatedAtUtc], [RevokedAtUtc], [RevokedReason]) VALUES (2, 2, N'f9938de063dc42848c05842a99630bd1', CAST(N'2026-07-12T20:19:58.7062827' AS DateTime2), 0, CAST(N'2026-07-05T20:19:58.7083817' AS DateTime2), NULL, NULL)
INSERT [dbo].[RefreshTokens] ([Id], [UserId], [Token], [ExpiresAtUtc], [IsRevoked], [CreatedAtUtc], [RevokedAtUtc], [RevokedReason]) VALUES (3, 3, N'9ee3aba9a99e477a9b35432cf3c08f40', CAST(N'2026-07-12T20:29:32.0994359' AS DateTime2), 1, CAST(N'2026-07-05T20:29:32.1025874' AS DateTime2), CAST(N'2026-07-06T22:42:47.3571398' AS DateTime2), N'Password reset')
SET IDENTITY_INSERT [dbo].[RefreshTokens] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name], [Description], [IsActive], [CreatedAtUtc], [UpdatedAtUtc]) VALUES (1, N'Administrator', N'Administrador del Sistema', 1, CAST(N'2026-07-04T02:19:39.2008408' AS DateTime2), CAST(N'2026-07-04T02:19:39.2009845' AS DateTime2))
INSERT [dbo].[Roles] ([Id], [Name], [Description], [IsActive], [CreatedAtUtc], [UpdatedAtUtc]) VALUES (2, N'Technician', N'Técnico de Laboratorio', 1, CAST(N'2026-07-04T02:19:39.2011285' AS DateTime2), CAST(N'2026-07-04T02:19:39.2011290' AS DateTime2))
INSERT [dbo].[Roles] ([Id], [Name], [Description], [IsActive], [CreatedAtUtc], [UpdatedAtUtc]) VALUES (3, N'Instructor', N'Instructor del Laboratorio', 1, CAST(N'2026-07-04T02:19:39.2011294' AS DateTime2), CAST(N'2026-07-04T02:19:39.2011296' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [RoleId], [FirstName], [LastName], [Email], [PasswordHash], [IsActive], [CreatedAtUtc], [UpdatedAtUtc]) VALUES (1, 1, N'Admin', N'UAM', N'admin@uam.edu', N'$2a$11$/5tCITVXruMQLCBXRDXwmO5kq5hFcnJm260bY.47YLxuK/th7OAcy', 1, CAST(N'2026-07-04T02:19:40.7633251' AS DateTime2), CAST(N'2026-07-04T02:44:35.8933691' AS DateTime2))
INSERT [dbo].[Users] ([Id], [RoleId], [FirstName], [LastName], [Email], [PasswordHash], [IsActive], [CreatedAtUtc], [UpdatedAtUtc]) VALUES (2, 1, N'Karina', N'Abril', N'karinabril19@gmail.com', N'$2a$11$4IMEk6bmzBfUbeu7payBy.vI..dG4WWLZdznZizZj.MIRdlvrHMR.', 1, CAST(N'2026-07-04T02:19:41.6633490' AS DateTime2), CAST(N'2026-07-05T20:18:04.7490544' AS DateTime2))
INSERT [dbo].[Users] ([Id], [RoleId], [FirstName], [LastName], [Email], [PasswordHash], [IsActive], [CreatedAtUtc], [UpdatedAtUtc]) VALUES (3, 1, N'Jeffry', N'Rivera', N'jeffry24061988@gmail.com', N'$2a$11$atjF7s3Fjdjh2dTAt5NIRO.EOWnsB6cuPedzNBzq9tV/sZV1PmAcu', 1, CAST(N'2026-07-05T20:07:18.0566667' AS DateTime2), CAST(N'2026-07-07T04:20:43.9984680' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [IX_Equipment_Code] Fecha de script: 7/7/2026 5:10:05 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Equipment_Code] ON [dbo].[Equipment]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Equipment_LaboratoryId] Fecha de script: 7/7/2026 5:10:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_Equipment_LaboratoryId] ON [dbo].[Equipment]
(
	[LaboratoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [IX_Equipment_SerialNumber] Fecha de script: 7/7/2026 5:10:05 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Equipment_SerialNumber] ON [dbo].[Equipment]
(
	[SerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_FaultReports_EquipmentId] Fecha de script: 7/7/2026 5:10:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_FaultReports_EquipmentId] ON [dbo].[FaultReports]
(
	[EquipmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_FaultReports_ReportedByUserId] Fecha de script: 7/7/2026 5:10:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_FaultReports_ReportedByUserId] ON [dbo].[FaultReports]
(
	[ReportedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [IX_Laboratories_Name] Fecha de script: 7/7/2026 5:10:05 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Laboratories_Name] ON [dbo].[Laboratories]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_OtpCodes_UserId] Fecha de script: 7/7/2026 5:10:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_OtpCodes_UserId] ON [dbo].[OtpCodes]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_PasswordResetRequests_UserId] Fecha de script: 7/7/2026 5:10:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_PasswordResetRequests_UserId] ON [dbo].[PasswordResetRequests]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [IX_RefreshTokens_Token] Fecha de script: 7/7/2026 5:10:05 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_RefreshTokens_Token] ON [dbo].[RefreshTokens]
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_RefreshTokens_UserId] Fecha de script: 7/7/2026 5:10:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_RefreshTokens_UserId] ON [dbo].[RefreshTokens]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [IX_Roles_Name] Fecha de script: 7/7/2026 5:10:05 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Roles_Name] ON [dbo].[Roles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [IX_Users_Email] Fecha de script: 7/7/2026 5:10:05 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Users_RoleId] Fecha de script: 7/7/2026 5:10:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_RoleId] ON [dbo].[Users]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Equipment] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[FaultReports] ADD  DEFAULT (N'Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Laboratories] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[OtpCodes] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsUsed]
GO
ALTER TABLE [dbo].[PasswordResetRequests] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsUsed]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Equipment_Laboratories_LaboratoryId] FOREIGN KEY([LaboratoryId])
REFERENCES [dbo].[Laboratories] ([Id])
GO
ALTER TABLE [dbo].[Equipment] CHECK CONSTRAINT [FK_Equipment_Laboratories_LaboratoryId]
GO
ALTER TABLE [dbo].[FaultReports]  WITH CHECK ADD  CONSTRAINT [FK_FaultReports_Equipment_EquipmentId] FOREIGN KEY([EquipmentId])
REFERENCES [dbo].[Equipment] ([Id])
GO
ALTER TABLE [dbo].[FaultReports] CHECK CONSTRAINT [FK_FaultReports_Equipment_EquipmentId]
GO
ALTER TABLE [dbo].[FaultReports]  WITH CHECK ADD  CONSTRAINT [FK_FaultReports_Users_ReportedByUserId] FOREIGN KEY([ReportedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[FaultReports] CHECK CONSTRAINT [FK_FaultReports_Users_ReportedByUserId]
GO
ALTER TABLE [dbo].[OtpCodes]  WITH CHECK ADD  CONSTRAINT [FK_OtpCodes_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OtpCodes] CHECK CONSTRAINT [FK_OtpCodes_Users_UserId]
GO
ALTER TABLE [dbo].[PasswordResetRequests]  WITH CHECK ADD  CONSTRAINT [FK_PasswordResetRequests_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PasswordResetRequests] CHECK CONSTRAINT [FK_PasswordResetRequests_Users_UserId]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_RoleId]
GO
USE [master]
GO
